<div class="card text-center">
  <div class="card-header">
    <%= @person.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @person.announcement %></h5>
    <p class="card-text"><%= @person.age %></p>
  </div>
  
</div>
<br>
<a href="<%= root_path %>" class="btn btn-primary">Voltar</a>
